:root {
  --color-gray-light: #f5f7fa;
  --color-gray-medium: #2c3138;
  --color-gray-dark: #1e272e;
  --color-gray-darken: #232526;
  --color-scrollbar: #3b3f41;
  --color-yellow-light: #ffd32a;
  --color-yellow-medium: #ffcc08;
  --color-yellow-dark: #d4a800;
  --color-red-light: #ff2f23;
  --color-red-dark: #e55039;
  --color-blue-light: #0fbcf9;
  --color-blue-dark: #575fcf;
  --shadow-ligth: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
  --shadow-btn: 0 1rem 1rem rgba(0, 0, 0, 0.8); }

@keyframes moveDownStop {
  0% {
    opacity: 0;
    transform: translateY(-30rem); }
  45% {
    opacity: 0; }
  55% {
    opacity: 0.3; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-scrollbar) transparent;
  scrollbar-width: thin; }

body {
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 300;
  color: var(--color-gray-light); }

::-webkit-scrollbar {
  width: .2rem;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar); }

.heading {
  display: block;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 400;
  font-size: 2.3rem;
  letter-spacing: .2rem;
  color: inherit; }

.calculator {
  background-color: var(--color-gray-darken);
  box-shadow: var(--shadow-btn);
  width: 35rem;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 2rem 2rem; }
  .calculator__screen-box {
    width: 100%;
    border: none;
    text-align: right;
    font-family: inherit;
    font-weight: inherit;
    background-color: inherit;
    padding: .5rem 1.5rem .5rem 1rem; }
    .calculator__screen-box--small {
      font-size: 2rem;
      color: inherit; }
    .calculator__screen-box--big {
      font-size: 5rem;
      color: inherit; }
  .calculator__keys {
    padding: 2rem 1rem;
    display: grid;
    grid-template-rows: 5rem 10rem 12rem 5rem;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem; }
    .calculator__keys-header {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: .5rem; }
    .calculator__keys-numbers {
      grid-row: 2 / 4;
      grid-column: 1 / 6;
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
    .calculator__keys-action {
      grid-row: 2 / -1;
      grid-column: 6 / -1;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 1fr 1fr 2fr;
      gap: .5rem;
      padding: 0 0 0 .5rem; }
    .calculator__keys-footer {
      grid-row: 4 / -1;
      grid-column: 1 / 6;
      display: grid;
      grid-template-columns: repeat(3, 1fr); }

#color-picker {
  max-width: 17rem; }

.picker_wrapper {
  background-color: transparent !important;
  border-radius: 1rem !important;
  font-size: .8rem !important;
  padding: 1rem !important;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.8) !important; }

.picker_selector {
  border-radius: 50% !important; }

.picker_sample {
  display: none !important; }

.picker_editor {
  width: 10rem !important; }

.picker_editor input {
  font-size: 1.5rem !important;
  padding: .2rem 2rem !important; }

.picker_wrapper button {
  background-color: #fff !important;
  background-image: none !important;
  color: var(--color-gray-darken) !important;
  border-radius: .2rem !important; }

.custom-container {
  padding: 1rem; }
  .custom-container__list {
    height: 11rem;
    overflow-y: scroll;
    list-style: none;
    scrollbar-color: var(--color-scrollbar) transparent;
    scrollbar-width: thin; }
  .custom-container__item {
    font-size: 2rem; }
    .custom-container__item--text {
      display: flex;
      margin-bottom: .5rem;
      font-size: 2rem;
      font-weight: 400; }
      .custom-container__item--text:not(:first-child) {
        margin-top: .5rem; }
    .custom-container__item--bgr {
      display: flex; }
    .custom-container__item--num {
      display: flex; }
    .custom-container__item-icon {
      width: 2.5rem;
      height: 2.5rem;
      align-self: center;
      padding-left: .5rem; }
    .custom-container__item-radio {
      display: none; }
      .custom-container__item-radio:checked ~ .custom-container__item-radio-icon {
        display: inline-block; }
      .custom-container__item-radio-icon {
        width: 1.7rem;
        height: 1.7rem;
        align-self: center;
        padding-left: .5rem;
        display: none;
        fill: var(--color-red-dark); }

.btn {
  background-color: var(--color-gray-darken);
  color: var(--color-gray-light);
  border-style: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: 2rem;
  border-radius: 2rem;
  margin: .2rem;
  border: 0.5px solid rgba(2, 3, 3, 0.2); }
  .btn:hover {
    border: 0.05rem solid var(--color-gray-medium); }
  .btn:active {
    box-shadow: inset 0.5rem 0 1rem rgba(0, 0, 0, 0.8);
    color: lightseagreen;
    border: .05rem solid transparent; }
  .btn:focus {
    outline: none; }

.equal-sign {
  color: var(--color-gray-light); }

.decimal {
  font-size: 3rem; }

.menu__checkbox {
  display: none; }

.menu__btn--open {
  display: block; }

.menu__btn--close {
  display: none; }

.menu__icon {
  position: absolute;
  top: 1.5rem;
  right: 5.5rem;
  height: 4rem;
  width: 4rem;
  fill: var(--color-gray-darken);
  z-index: 2000;
  cursor: pointer; }

.menu__bgr {
  position: absolute;
  top: 1rem;
  right: 5rem;
  height: 5rem;
  width: 5rem;
  z-index: 1000;
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  transition: all .5s; }

.menu__nav {
  position: absolute;
  top: 1rem;
  right: 5rem;
  height: 60rem;
  width: 5rem;
  z-index: 1500;
  display: none;
  padding: 0 5rem 0 2rem;
  font-family: inherit;
  font-weight: inherit;
  color: var(--color-gray-darken); }
  .menu__nav-themes {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 2rem 0; }
  .menu__nav-custom {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; }
  .menu__nav-color-picker-box {
    display: flex; }

.menu__checkbox:checked ~ .menu__bgr {
  width: 20%;
  border-radius: .5rem; }

.menu__checkbox:checked ~ .menu__nav {
  display: flex;
  flex-direction: column;
  width: 20%;
  animation-name: moveDownStop;
  animation-duration: .6s; }

.menu__checkbox:checked ~ .menu__btn--open {
  display: none; }

.menu__checkbox:checked ~ .menu__btn--close {
  display: block; }

.switching-bgr__checkbox {
  display: none; }

.switching-bgr__btn--open {
  display: block; }

.switching-bgr__btn--close {
  display: none; }

.switching-bgr__icon {
  width: 3rem;
  height: 3rem;
  fill: #fff;
  cursor: pointer; }
  .switching-bgr__icon--black {
    fill: var(--color-gray-darken); }
  .switching-bgr__icon--white {
    fill: #fff; }

.switching-bgr__checkbox:checked ~ .switching-bgr__btn--open {
  display: none; }

.switching-bgr__checkbox:checked ~ .switching-bgr__btn--close {
  display: block; }

.themes-container {
  padding: 1rem; }
  .themes-container__list {
    height: 11rem;
    overflow-y: scroll;
    list-style: none;
    scrollbar-color: var(--color-scrollbar) transparent;
    scrollbar-width: thin; }
  .themes-container__item {
    font-size: 2rem;
    display: flex; }
    .themes-container__item-radio {
      display: none; }
      .themes-container__item-radio:checked ~ .themes-container__item-radio-icon {
        display: inline-block; }
      .themes-container__item-radio-icon {
        width: 1.7rem;
        height: 1.7rem;
        align-self: center;
        padding-left: .5rem;
        display: none;
        fill: var(--color-red-dark); }

.container {
  background-color: var(--color-gray-darken);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%; }

.header {
  height: 10vh;
  border-bottom: 0.1rem solid var(--color-gray-medium);
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center; }
