// css - variables
:root {

    --color-gray-light: #f5f7fa;
    --color-gray-medium: #2c3138;
    --color-gray-dark: #1e272e;
    --color-gray-darken: #232526;
    
    --color-scrollbar: #3b3f41;

    --color-yellow-light: #ffd32a;
    --color-yellow-medium: #ffcc08;
    --color-yellow-dark: #d4a800;

    --color-red-light: #ff2f23;
    --color-red-dark: #e55039;

    --color-blue-light: #0fbcf9;
    --color-blue-dark: #575fcf;

    // --color-green: #05c46b;

    --shadow-ligth: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
    --shadow-btn: 0 1rem 1rem rgba(0, 0, 0, 0.8);

}