.calculator {

    background-color: var(--color-gray-darken);
    box-shadow: var(--shadow-btn);
    width: 35rem;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 2rem 2rem;
    
    &__screen {

        &-box {
            width: 100%;
            border: none;
            text-align: right;    
            font-family: inherit;
            font-weight: inherit;
            background-color: inherit;
            padding: .5rem 1.5rem .5rem 1rem;
            
            &--small {
                font-size: 2rem;
                color: inherit;
            }
            &--big {
                font-size: 5rem;
                color: inherit;
            }
        }
    }
    &__keys {
        padding: 2rem 1rem;
        display: grid;
        grid-template-rows: 5rem 10rem 12rem 5rem;
        grid-template-columns: repeat(7, 1fr);
        gap: 1rem;

        &-header {
            grid-row: 1 / 2;
            grid-column: 1 / -1;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: .5rem;
        }
        &-numbers {
            grid-row: 2 / 4;
            grid-column: 1 / 6;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        &-action {
            grid-row: 2 / -1;
            grid-column: 6 / -1;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 1fr 1fr 2fr;
            gap: .5rem;
            padding: 0 0 0 .5rem;
        }
        &-footer {
            grid-row: 4 / -1;
            grid-column: 1 / 6;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}