#color-picker {
    max-width: 17rem;
}
.picker_wrapper {
    background-color: transparent !important;
    border-radius: 1rem !important;
    font-size: .8rem !important;
    padding: 1rem !important;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.8) !important;
}

.picker_selector {
    border-radius: 50% !important;
}
.picker_sample {
    display: none !important;
}
.picker_editor {
    width: 10rem !important;
}
.picker_editor input {
    font-size: 1.5rem !important;
    padding: .2rem 2rem !important;
}

.picker_wrapper button   {
    background-color: #fff !important;
    background-image: none !important;
    color: var(--color-gray-darken) !important;
    border-radius: .2rem !important;
}
