.custom-container {
    padding: 1rem;

    &__list {
        height: 11rem;
        overflow-y: scroll;
        list-style: none;

        scrollbar-color: var(--color-scrollbar) transparent;
        scrollbar-width: thin;
    }
    &__item {
        font-size: 2rem;

        &--text {
            display: flex;
            margin-bottom: .5rem;
            font-size: 2rem;
            font-weight: 400;

            &:not(:first-child) {
                margin-top: .5rem;
            }
        }
        &--bgr {
            display: flex;
        }
        &--num {
            display: flex;
        }

        &-icon {
            width: 2.5rem;
            height: 2.5rem;
            align-self: center;
            padding-left: .5rem;
        }

        &-radio {
            display: none;
            
            &:checked ~ &-icon {
                display: inline-block;
            }

            &-icon {
                width: 1.7rem;
                height: 1.7rem;
                align-self: center;
                padding-left: .5rem;
                display: none;  
                fill: var(--color-red-dark);               
            }
        }
    }
}


