.btn {
    background-color: var(--color-gray-darken);
    color: var(--color-gray-light);
    border-style: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: 2rem;
    border-radius: 2rem;
    margin: .2rem;    
    border: .5px solid rgba(#020303, .2);

    &:hover {
        border: .05rem solid var(--color-gray-medium);
    }
    &:active {
        box-shadow: inset 0.5rem 0 1rem rgba(0, 0, 0, 0.8);
        color: lightseagreen;
        border: .05rem solid transparent;
    }
    &:focus {
        outline: none;
    }
}

.operator {
    // color: khaki;
}
.number {
    
}
.all-clear {
    
}
.equal-sign {
    color: var(--color-gray-light);
}
.negative {

}
.zero {
    
}
.decimal {
    font-size: 3rem;
}