.menu {
    
    &__checkbox {
        display: none;
    }
    &__btn--open {
        display: block;
    }
    &__btn--close {
        display: none;
    }
    &__icon {
        position: absolute;
        top: 1.5rem;
        right: 5.5rem;
        height: 4rem;
        width: 4rem;
        fill: var(--color-gray-darken);
        z-index: 2000;
        cursor: pointer;
    }
    &__bgr {
        position: absolute;
        top: 1rem;
        right: 5rem;
        height: 5rem;
        width: 5rem;
        z-index: 1000;
        border-radius: .5rem;
        background-color: #fff;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
        transition: all .5s;
    }
    &__nav {
        position: absolute;
        top: 1rem;
        right: 5rem;
        height: 60rem;
        width: 5rem;
        z-index: 1500;
        display: none;
        padding: 0 5rem 0 2rem;
        //
        font-family: inherit;
        font-weight: inherit;
        color: var(--color-gray-darken);

        &-themes {
            display: flex;
            flex-direction: column;
            margin: 2rem 0 2rem 0;
        }
        &-custom {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
        }
        &-color-picker-box {
            display: flex;      
        }
    }
    &__checkbox:checked ~ &__bgr {
        width: 20%;
        border-radius: .5rem;
    }
    &__checkbox:checked ~ &__nav {
        display: flex;
        flex-direction: column;
        width: 20%;
        
        animation-name: moveDownStop;
        animation-duration: .6s;
    }
    &__checkbox:checked ~ &__btn--open {
        display: none;
    }
    &__checkbox:checked ~ &__btn--close {
        display: block;
    }
}




