.switching-bgr {

    &__checkbox {
        display: none;
    }
    &__btn--open {
        display: block;  
    }
    &__btn--close {
        display: none;
    }
    &__icon {
        width: 3rem;
        height: 3rem;
        fill: #fff;
        cursor: pointer;

        &--black {
            fill: var(--color-gray-darken);
        }
        &--white {
            fill: #fff;
        }
    }
    &__checkbox:checked ~ &__btn--open {
        display: none;
    }
    &__checkbox:checked ~ &__btn--close {
        display: block;
    }
}