.themes-container {
    padding: 1rem;

    &__list {
        height: 11rem;
        overflow-y: scroll;
        list-style: none;

        scrollbar-color: var(--color-scrollbar) transparent;
        scrollbar-width: thin;
    }
    &__item {
        font-size: 2rem;
        display: flex;

        &-radio {
            display: none;
            
            &:checked ~ &-icon {
                display: inline-block;
            }
    
            &-icon {
                width: 1.7rem;
                height: 1.7rem;
                align-self: center;
                padding-left: .5rem;
                display: none;  
                fill: var(--color-red-dark);             
            }
        }
    }

}