* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px  10px/16px = 62.5%
    box-sizing: border-box;
    scroll-behavior: smooth;

    //scrollbar for Firefox
    scrollbar-color: var(--color-scrollbar) transparent;
    scrollbar-width: thin;
}
body {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 300;
    color: var(--color-gray-light);
}
::-webkit-scrollbar {
    width: .2rem;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
}